{% extends "base.html" %}
{% load thumbnail %}
      
{% block container  %}
<div style="padding-block-start: 5%" class="col-md-12 container">

    <div class="row">
      <div class="col-md-2">
        <div clas="list-group">
          <a href="{% url 'profile' %}"  class="list-group-item active">Usuario</a>
          <a href="{% url 'update_user' %}"  class="list-group-item">Alterar Login</a>
          <a href="{% url 'update_personal' %}"  class="list-group-item">Atualizar dados</a>
          <a href="{% url 'update_password' %}"  class="list-group-item">Alterar Senha</a>

        </div>
      </div>
      <div class="col-md-10">
        {% block forms %}
        <h2> Olá, {{user}} </h2>
        {% endblock%}
      </div>
    </div>
</div>
{% endblock %}
