{% extends "base.html" %}
{% load thumbnail %}
      
{% block container  %}
<div style="padding-block-start: 5%" class="col-md-12 container">
  <nav >
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-perfil-tab" data-toggle="tab" href="#nav-perfil" role="tab" aria-controls="nav-home" aria-selected="true">Conta</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-dados-pessoais" role="tab" aria-controls="nav-dados-pessoais" aria-selected="false">Dados Pessoais</a>
        <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Configuração</a> -->
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="nav-perfil" role="tabpanel" aria-labelledby="nav-perfil-tab">
        <div class="row" style="padding-block-start: 5%">
          <div class="col-md-4" style="text-align: center;">
              <img class="card-img-top rounded-circle" src="http://placehold.it/200x200" alt="profile-pic">
          
          </div>
          <div class="col-md-8">
            <div>
                <form  method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-8">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                      </div>
                      <div class="form-group col-md-4">
                          <label for="inputEmail4">Nome de Usuário</label>
                          <input type="email" class="form-control" id="inputEmail4" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                          </div>
                    
                          <div class="col-md-4" style="padding-block-start: 5%">
                              <button type="submit" class="btn btn-primary">Atualizar</button>
                          </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="form-row">
                        <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="profile-pic">
                              <label class="custom-file-label" for="profile-pic">Clique aqui para selecionar imagem</label>
                            </div>
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button">Atualizar</button>
                            </div>
                          </div>
                    </div>
                </form> 
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-dados-pessoais" role="tabpanel" aria-labelledby="nav-dados-pessoais">
        <div class="row" style="padding-block-start: 5%">
          <div class="col-md-12">
              <form method="post"> {% csrf_token %}
                  <div class="form-group">
                    <label for="inputAddress">Endereço</label>
                    <input type="text" class="form-control" required="True" id="inputAddress" placeholder="Endereço principal">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Endereço 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Endereço secundário">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">Cidade</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">Estado</label>
                      <select id="inputState" class="form-control">
                        <option selected>Selecionar</option>
                        <option>Acre</option>
                        <option>Sergipe</option>
                        <option>Bahia</option>
                        <option>São Paulo</option>
                        <option>Minas Gerais</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputZip">CEP</label>
                      <input type="text" class="form-control" id="inputZip">
                    </div>
                  </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Atualizar</button>
                </form>
          </div>

        </div>
      </div>
      <!-- <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div> -->
    </div>

</div>
{% endblock %}
